@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cutive+Mono&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// font-family: 'Abril Fatface', cursive;
// font-family: 'Cutive Mono', monospace;
// font-family: 'Lobster', cursive;
// font-family: 'Lobster Two', cursive;
// font-family: 'Playball', cursive;
// font-family: 'Poppins', sans-serif;

:root {
  --font-sans-serif: "Poppins", sans-serif;
  --font-cursive-1: "Lobster", cursive;
  --font-cursive-2: "Lobster Two", cursive;
  --font-cursive-3: "Playball", cursive;
  --font-heading: "Abril Fatface", "Poppins", sans-serif;
  --font-mono: "Cutive Mono", monospace;
}
